* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-image: url('img/petite-fille-jouant-au-terrain-jeux-exterieur_155003-1654.avif');
    color: #333;
}

h2 {
    color: #ff6f61;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-us {
    background-image: url('img/jouets-enfant-encore-vie_23-2148144805.avif');
    padding: 3rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-img {
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

